 <ul class="shop-category-nav__list">
            <li class="shop-category-nav__item">
              <a class="shop-category-nav__link" href="/new">New</a>
            </li>

            <li class="shop-category-nav__item">
              <div class="shop-category-nav__row">
                <a class="shop-category-nav__link" href="/dresses">Dresses</a>
                <button
                  class="shop-category-nav__toggle"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#catDresses"
                  aria-expanded="false"
                  aria-controls="catDresses"
                  aria-label="Show Dresses subcategories"
                >
                  <i class="fa-solid fa-chevron-down" aria-hidden="true"></i>
                </button>
              </div>
              <ul class="collapse shop-category-nav__sublist" id="catDresses">
                <li><a href="/dresses">All Dresses</a></li>
                <li><a href="/dresses/new">New Arrivals</a></li>
                <li><a href="/dresses/best-sellers">Best Sellers</a></li>
              </ul>
            </li>

            <li class="shop-category-nav__item">
              <a class="shop-category-nav__link" href="/wigs">Wigs</a>
            </li>

            <!-- Expanded because we're currently on /lingerie -->
            <li class="shop-category-nav__item">
              <div class="shop-category-nav__row">
                <a
                  class="shop-category-nav__link shop-category-nav__link"
                  href="/lingerie"
                  >Lingerie</a
                >
                <button
                  class="shop-category-nav__toggle"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#catLingerie"
                  aria-expanded="false"
                  aria-controls="catLingerie"
                  aria-label="Hide Lingerie subcategories"
                >
                  <i class="fa-solid fa-chevron-down" aria-hidden="true"></i>
                </button>
              </div>
              <ul class="collapse shop-category-nav__sublist" id="catLingerie">
                <li><a href="/lingerie/bras">Bras</a></li>
                <li><a href="/lingerie/panties">Panties</a></li>
                <li><a href="/lingerie/babydolls">Babydolls</a></li>
                <li><a href="/lingerie/corsets">Corsets</a></li>
                <li><a href="/lingerie/garter-sets">Garter Sets</a></li>
              </ul>
            </li>

            <li class="shop-category-nav__item">
              <div class="shop-category-nav__row">
                <a class="shop-category-nav__link" href="/shapers">Shapers</a>
                <button
                  class="shop-category-nav__toggle"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#catShapers"
                  aria-expanded="false"
                  aria-controls="catShapers"
                  aria-label="Show Shapers subcategories"
                >
                  <i class="fa-solid fa-chevron-down" aria-hidden="true"></i>
                </button>
              </div>
              <ul class="collapse shop-category-nav__sublist" id="catShapers">
                <li><a href="/shapers">All Shapers</a></li>
                <li><a href="/shapers/new">New Arrivals</a></li>
                <li><a href="/shapers/best-sellers">Best Sellers</a></li>
              </ul>
            </li>

            <li class="shop-category-nav__item">
              <a class="shop-category-nav__link" href="/shoes">Shoes</a>
            </li>

            <li class="shop-category-nav__item">
              <div class="shop-category-nav__row">
                <a class="shop-category-nav__link" href="/tops">Tops</a>
                <button
                  class="shop-category-nav__toggle"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#catTops"
                  aria-expanded="false"
                  aria-controls="catTops"
                  aria-label="Show Tops subcategories"
                >
                  <i class="fa-solid fa-chevron-down" aria-hidden="true"></i>
                </button>
              </div>
              <ul class="collapse shop-category-nav__sublist" id="catTops">
                <li><a href="/tops">All Tops</a></li>
                <li><a href="/tops/new">New Arrivals</a></li>
                <li><a href="/tops/best-sellers">Best Sellers</a></li>
              </ul>
            </li>

            <li class="shop-category-nav__item">
              <div class="shop-category-nav__row">
                <a class="shop-category-nav__link" href="/bottoms">Bottoms</a>
                <button
                  class="shop-category-nav__toggle"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#catBottoms"
                  aria-expanded="false"
                  aria-controls="catBottoms"
                  aria-label="Show Bottoms subcategories"
                >
                  <i class="fa-solid fa-chevron-down" aria-hidden="true"></i>
                </button>
              </div>
              <ul class="collapse shop-category-nav__sublist" id="catBottoms">
                <li><a href="/bottoms">All Bottoms</a></li>
                <li><a href="/bottoms/new">New Arrivals</a></li>
                <li><a href="/bottoms/best-sellers">Best Sellers</a></li>
              </ul>
            </li>

            <li class="shop-category-nav__item">
              <div class="shop-category-nav__row">
                <a class="shop-category-nav__link" href="/sissy-toys"
                  >Sissy Toys</a
                >
                <button
                  class="shop-category-nav__toggle"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#catSissyToys"
                  aria-expanded="false"
                  aria-controls="catSissyToys"
                  aria-label="Show Sissy Toys subcategories"
                >
                  <i class="fa-solid fa-chevron-down" aria-hidden="true"></i>
                </button>
              </div>
              <ul class="collapse shop-category-nav__sublist" id="catSissyToys">
                <li><a href="/sissy-toys">All Sissy Toys</a></li>
                <li><a href="/sissy-toys/new">New Arrivals</a></li>
                <li><a href="/sissy-toys/best-sellers">Best Sellers</a></li>
              </ul>
            </li>

            <li class="shop-category-nav__item">
              <div class="shop-category-nav__row">
                <a class="shop-category-nav__link" href="/make-up">Make Up</a>
                <button
                  class="shop-category-nav__toggle"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#catMakeUp"
                  aria-expanded="false"
                  aria-controls="catMakeUp"
                  aria-label="Show Make Up subcategories"
                >
                  <i class="fa-solid fa-chevron-down" aria-hidden="true"></i>
                </button>
              </div>
              <ul class="collapse shop-category-nav__sublist" id="catMakeUp">
                <li><a href="/make-up">All Make Up</a></li>
                <li><a href="/make-up/new">New Arrivals</a></li>
                <li><a href="/make-up/best-sellers">Best Sellers</a></li>
              </ul>
            </li>

            <li class="shop-category-nav__item">
              <div class="shop-category-nav__row">
                <a class="shop-category-nav__link" href="/accessories"
                  >Accessories</a
                >
                <button
                  class="shop-category-nav__toggle"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#catAccessories"
                  aria-expanded="false"
                  aria-controls="catAccessories"
                  aria-label="Show Accessories subcategories"
                >
                  <i class="fa-solid fa-chevron-down" aria-hidden="true"></i>
                </button>
              </div>
              <ul
                class="collapse shop-category-nav__sublist"
                id="catAccessories"
              >
                <li><a href="/accessories">All Accessories</a></li>
                <li><a href="/accessories/new">New Arrivals</a></li>
                <li><a href="/accessories/best-sellers">Best Sellers</a></li>
              </ul>
            </li>

            <li class="shop-category-nav__item">
              <div class="shop-category-nav__row">
                <a class="shop-category-nav__link" href="/collections"
                  >Collections</a
                >
                <button
                  class="shop-category-nav__toggle"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#catCollections"
                  aria-expanded="false"
                  aria-controls="catCollections"
                  aria-label="Show Collections subcategories"
                >
                  <i class="fa-solid fa-chevron-down" aria-hidden="true"></i>
                </button>
              </div>
              <ul
                class="collapse shop-category-nav__sublist"
                id="catCollections"
              >
                <li><a href="/collections">All Collections</a></li>
                <li><a href="/collections/new">New Arrivals</a></li>
                <li><a href="/collections/best-sellers">Best Sellers</a></li>
              </ul>
            </li>

            <li class="shop-category-nav__item">
              <div class="shop-category-nav__row">
                <a class="shop-category-nav__link" href="/sissy-fun"
                  >Sissy Fun</a
                >
                <button
                  class="shop-category-nav__toggle"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#catSissyFun"
                  aria-expanded="false"
                  aria-controls="catSissyFun"
                  aria-label="Show Sissy Fun subcategories"
                >
                  <i class="fa-solid fa-chevron-down" aria-hidden="true"></i>
                </button>
              </div>
              <ul class="collapse shop-category-nav__sublist" id="catSissyFun">
                <li><a href="/sissy-fun">All Sissy Fun</a></li>
                <li><a href="/sissy-fun/new">New Arrivals</a></li>
                <li><a href="/sissy-fun/best-sellers">Best Sellers</a></li>
              </ul>
            </li>

            <li class="shop-category-nav__item">
              <a class="shop-category-nav__link" href="/ebooks">Ebooks</a>
            </li>
          </ul>