<ul class="shop-category-nav__list">
  <li class="shop-category-nav__item">
    <a
      class="shop-category-nav__link"
      routerLink="/shop"
      [queryParams]="{ collection: 'new-arrivals' }"
      [class.active]="isNewActive()"
    >
      New
    </a>
  </li>

  <li class="shop-category-nav__item" *ngFor="let item of categoryNav">
    <ng-container *ngIf="item.subcategories.length; else simpleCategory">
      <div class="shop-category-nav__row">
        <a
          class="shop-category-nav__link"
          routerLink="/shop"
          [queryParams]="{ category: item.category }"
          [class.active]="isCategoryActive(item.category)"
        >
          {{ item.label }}
        </a>

        <button
          class="shop-category-nav__toggle"
          type="button"
          data-bs-toggle="collapse"
          [attr.data-bs-target]="'#cat-' + item.category"
          [attr.aria-controls]="'cat-' + item.category"
          [attr.aria-expanded]="isCategoryActive(item.category)"
          [attr.aria-label]="'Show ' + item.label + ' subcategories'"
        >
          <i class="fa-solid fa-chevron-down" aria-hidden="true"></i>
        </button>
      </div>

      <ul
        class="collapse shop-category-nav__sublist"
        [class.show]="isCategoryActive(item.category)"
        [id]="'cat-' + item.category"
      >
        <li>
          <a
            routerLink="/shop"
            [queryParams]="{ category: item.category }"
            [class.active]="
              isCategoryActive(item.category) && !activeSubcategory
            "
          >
            All {{ item.label }}
          </a>
        </li>

        <li *ngFor="let sub of item.subcategories">
          <a
            routerLink="/shop"
            [queryParams]="{
              category: item.category,
              subcategory: sub.slug,
            }"
            [class.active]="isSubcategoryActive(sub.slug)"
          >
            {{ sub.name }}
          </a>
        </li>
      </ul>
    </ng-container>

    <ng-template #simpleCategory>
      <a
        class="shop-category-nav__link"
        routerLink="/shop"
        [queryParams]="{ category: item.category }"
        [class.active]="isCategoryActive(item.category)"
      >
        {{ item.label }}
      </a>
    </ng-template>
  </li>
</ul>
