<div class="col" *ngIf="product">
  <article class="product-card">
    <div class="product-card__media">
      <span class="product-card__badge" *ngIf="product.oldPrice">
        -{{
          ((product.oldPrice - product.price) / product.oldPrice) * 100
            | number: "1.0-0"
        }}%
      </span>

      <button
        class="product-card__wishlist"
        type="button"
        [attr.aria-label]="
          isWishlisted ? 'Remove from wishlist' : 'Add to wishlist'
        "
        *ngIf="!wishlistMode"
        (click)="toggleWishlist(); $event.stopPropagation()"
      >
        <i
          class="fa-heart"
          [class.fa-solid]="isWishlisted"
          [class.fa-regular]="!isWishlisted"
        ></i>
      </button>

      <img
        class="product-card__img"
        [src]="product.images[0]"
        [alt]="product.name"
      />
    </div>

    <div class="product-card__body">
      <h3 class="product-card__name">
        <a [routerLink]="['/product-view', product.slug]">
          {{ product.name }}
        </a>
      </h3>

      <div
        class="product-card__rating"
        [attr.aria-label]="'Rating ' + product.rating + ' out of 5 stars'"
      >
        <ng-container *ngFor="let star of [1, 2, 3, 4, 5]">
          <i *ngIf="star <= product.rating" class="fa-solid fa-star"></i>
        </ng-container>

        <span class="product-card__reviews">
          ({{ product.reviewCount }})
        </span>
      </div>

      <div class="product-card__price">
        <span class="product-card__price--old" *ngIf="product.oldPrice">
          ${{ product.oldPrice }}
        </span>

        <span class="product-card__price--current">
          ${{ product.price }}
        </span>
      </div>
    </div>

    <button
      *ngIf="wishlistMode"
      class="product-card__remove"
      type="button"
      (click)="removeFromWishlist()"
    >
      Remove from Wishlist
    </button>
  </article>
</div>